
/* universal */

body {
  padding-top: 60px;
  background-color: #D6D6D6;
  font-family: 'Ubuntu Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

textarea {
  resize: vertical;
}

.main-content {
	margin: 0 auto;
	max-width: 1120px;
}

/* panel styling */

.panel {
	border-color: #9E9E9E;
	margin-top: 2%;
}

.panel-heading, .modal-header {
	background-color: #694D9F;
	color: #FFFFFF;
}

.panel-title, .modal-title {
	font-family: 'Ubuntu Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
}

.tibx-panel {
	margin-bottom: 100px;
}

.tibx-user-alert {
	position: absolute;
	z-index: 2000;
	width: 20%;
	left: 40%;
	top: 0;
	padding: 5px 35px 5px 5px;
	color: #000000;
}

.first-row, .tibx-current-timebox-deliverable, .tibx-timer-alert {
	text-align: center;
}

.row {
	margin-right: 0;
	margin-left: 0;
	padding-right: 35px;
}

.current-timebox {
	display: none;
}

.current-timebox > .panel-heading {
	color: #ffffff;
	background-color: #FF780D;
}

.tibx-no-timeboxes-msg {
	display: table-row;
}

.form-group:last-of-type {
	margin-top: 30px;
}

h3.tibx-current-timebox-deliverable {
	padding-top: 20px;
}

div.current-timebox div.row:last-of-type { /* gosh, it is really hairy */
	margin-top: 10px;
	margin-bottom: 20px;
}


/* timer styles */

.timer h2 {
	font-size: 64px;
}

.btn-timer {
	font-size: 30px;
	padding: 0 50px 0 50px;	
}

/* header */

.navbar-inner {
	height: 100%;
}

nav {
	margin-top: 5px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: 1px;
  padding: 14px 0 0 5px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar > .nav > li {
float: left;
}

.nav > li > a {
	color: #999;
}

.nav > li > a:hover {
	color: #fff;
	background-color: inherit;
}

.tibx-header-button {
	margin-top: 14px;
}

/* Modal */

.modal-header {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.modal-title {
	text-align: center;
}

/* Forms */

.form-horizontal .control-label {
	margin-top: 10px;
	text-align: left;
}


/* Sliders styling */
.slider {
	width: 100%;
	height: 2.2em;
}

.ui-slider .ui-slider-handle {
	height: 2.4em;	
}

.ui-widget-content {
	background-color: #565656;
	box-shadow: 0 1px 0px rgba(255,255,255,0.25),
	inset 0 0 4px rgba(0,0,0,0.9);
	background-image: none;
}

.slider .ui-widget-header {
	background-image: none;
}

.slider-hours .ui-widget-header {
	background-color: #E6A09B;
	box-shadow: inset 0 0 4px rgba(163, 18, 0, 0.7),
  	inset 0 0 2px rgba(0, 0, 0,0.5);
}

.slider-minutes .ui-widget-header {
	background-color: #9FD0E9;
	box-shadow: inset 0 0 4px rgba(0, 85, 151, 0.8),
  	inset 0 0 2px rgba(0, 0, 0,0.5);
}

.slider-break-length .ui-widget-header {
	background-color: #9edbbc;
	box-shadow: inset 0 0 4px rgba(19, 121, 72, 0.8), 
	inset 0 0 2px rgba(0, 0, 0,0.5);
}

.slider-break-frequency .ui-widget-header {
	background-color: #e3e3e3;
	box-shadow: inset 0 0 4px rgba(88, 88, 88, 0.5),
  	inset 0 0 2px rgba(0, 0, 0,0.3);
}

/* footer */

footer {
	color: #777777;
}

footer nav {
	padding: 0 10px 0 10px;
}

footer a {
	color: #777777;
	text-decoration: none;
}

footer a:hover {
	color: #333333;
	text-decoration: none;
}

.authorship {
	float:left;
	margin-top: 15px;
	margin-bottom: 15px;
}

.tibx-footer-links {
	float: right;
	margin: 15px 0 15px 0;
}

.tibx-footer-links li {
	display: inline;
	text-align: right;
	padding: 3px 10px 0 10px
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
	font-family: "Ubuntu Regular";
	src: url('../fonts/Ubuntu-R.ttf');
}

/* Media queries */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 320px) {
	/* Menu has to be stacked vertically and slide down */
}

@media (max-width: 480px) {
	
	/* footer */
		
	.tibx-footer-links {
		text-align: center;
		float: none;
		padding: 0 0 30px 0;
	}

	.tibx-footer-links li {
		text-align: center;
		display: block;
		padding: 0;
	}

	.tibx-footer-links a {
		position: relative;
		display: block;
		padding: 10px 5px;
		border-radius: 3px;
	}

	.tibx-footer-links a:hover {
		background-color: #D6D6D6;
	}

	.copyright {
		float: none;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
	}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
} 
