<!doctype html>
<html lang="en-US" manifest="offline.appcache">  
<head>
  <meta name="robots" content="noindex, nofollow, nosnippet, noarchive, noimageindex" />
  <meta name="Description" content="Web app for personal timeboxing."/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>TimeBx</title>
  <link rel="shortcut icon" href="#">
  <link rel="icon" href="#">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.min.js"></script>
    <script src="js/vendor/respond.min.js"></script>
  <![endif]-->
  <!-- This JQuery v2.0.3 doesn't support IE 6/7/8 -->
  <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css">
  <!-- build:css css/jquery-ui-1.10.3.slider.min.css -->
  <link rel="stylesheet" type="text/css" media="all" href="css/jquery-ui-1.10.3.slider.css">
  <!-- endbuild -->
  <!-- build:css css/global.min.css -->
  <link rel="stylesheet" type="text/css" media="all" href="css/global.css">
  <!-- endbuild -->
</head>
<body>
  <noscript>You must enable JS to use this app.</noscript>

  <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
      <a id="logo" href="./index.html">TimeBx</a>
          <button type="button" class="btn btn-default btn-xs pull-right tibx-header-button" data-toggle="modal" data-target="#addTimeboxModal">Add Timebox
          </button>
    </div> <!-- /end .container -->
  </header>

  <div class="main-content">

      <div class="panel current-timebox">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Timebox in Progress</h3>
        </div> <!-- /end .panel-heading -->
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-left">
              <h3 class="tibx-current-timebox-deliverable"></h3> <!-- deliverable -->
            </div>
          </div> <!-- /end .row -->
          <div class="row timer">
            <div class="col-lg-12 text-center">
              <h2 class="tibx-timer">
                <span class="tibx-timer-section" id="hours">--</span>:<span class="tibx-timer-section" id="minutes">--</span>:<span class="tibx-timer-section" id="seconds">--</span>
              </h2> <!-- timer -->
            </div>
          </div> <!-- /end .row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              <button type="button" class="btn btn-danger btn-large btn-timer tibx-pause-timebox text-center">stop</button>
            </div> <!-- /end .col-lg-6 -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
              <button type="button" class="btn btn-default btn-large btn-timer tibx-finish-timebox text-center">finish</button>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right">
              <button type="button" class="btn btn-default btn-lg tibx-sounds"><span class="glyphicon glyphicon-volume-off"></span></button>
            </div> <!-- /end .col-lg-6 -->
          </div> <!-- /end .row -->
        </div>
      </div> <!-- /end .panel .current-timebox -->

      <div class="panel tibx-panel">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Timeboxes</h3>
        </div> <!-- /end panel-heading -->
      <!-- Listing of timeboxes -->
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-lg-1 text-center">#</th>
              <th class="col-lg-5 text-center">Deliverable</th>
              <th class="col-lg-1 text-center">Alloted Time</th>
              <th class="col-lg-1 text-center">Break Length</th>
              <th class="col-lg-1 text-center">Break Frequency</th>
              <th class="col-lg-3 text-center">Actions</th>
            </tr>
          </thead>
          <tbody class="tibx-timebox-grid">
            <tr class="tibx-no-timeboxes-msg">
              <td colspan="7" class="text-center warning">You don't have any 
                timeboxes to complete. Click <a data-toggle="modal" href="#addTimeboxModal"
                title="Add timebox">here</a> to add one.</td>
            </tr>
            <!-- Here goes very simple template for a timebox row. -->
            <script id="timebox-template" type="tibx/timebox-template">
                <tr class="tibx-timebox tibx-timeboxid-{{index}}">
                  <td class="col-lg-1 text-center tibx-timebox-index">{{index}}.</td>
                  <td class="col-lg-5"><span>{{description}}</span></td>
                  <td class="col-lg-1 text-center"><span>{{hours}}{{minutes}}</span></td>
                  <td class="col-lg-1 text-center"><span>{{breaks}}</span></td>
                  <td class="col-lg-1 text-center"><span>{{frequency}}</span></td>
                  <td class="col-lg-3 text-center">
                    <div class="btn-group btn-group-options" data-tibx-timebox-index={{index}}>
                      <button type="button" class="btn btn-success tibx-start-timebox">Start</button>
                      <button type="button" class="btn btn-info tibx-edit-timebox" data-toggle="modal" 
                      data-target="#addTimeboxModal">Edit</button>
                      <button type="button" class="btn btn-danger tibx-delete-timebox">Delete</button>
                    </div>
                  </td>
                </tr>
            </script>
          </tbody>
        </table>
      </div> <!-- /end .panel -->

      <!-- Add/Edit timebox modal -->
      
      <div class="modal fade" id="addTimeboxModal" role="dialog" aria-labelledby="Add/Edit Timebox" aria-describedby="Add or edit a timebox using this dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" 
              aria-hidden="true">&times;</button>
              <h4 class="modal-title"></h4>
            </div> <!-- /end .modal-header -->

            <div class="modal-body">
              <!-- Add Timebox Form -->
              <form class="form-horizontal add-timebox" action="">
                <fieldset>
              
                  <div class="form-group">
                    <label for="tibx-timebox-deliverable" class="col-lg-2 control-label">Deliverable</label>
                    <div class="col-lg-10">
                      <textarea class="form-control" id="tibx-timebox-deliverable" rows="3" maxlength="256"></textarea>
                      <span class="help-block">Deliverable must be up to 256 characters.</span>
                    </div> <!-- /end .col-lg-10 -->
                  </div> <!-- /end .form-group -->
  
                  <div class="form-group"> <!-- used for spacing -->
                    <label class="control-label col-lg-12">Allocate Time</label>
                  </div>

                  <div class="form-group">  
                    <div class="col-lg-6">
                      <h5 id="display-hours">0 h</h5>
                      <div class="slider slider-hours"></div>
                    </div>
                    <div class="col-lg-6">
                      <h5 id="display-minutes">0 min</h5>
                      <div class="slider slider-minutes"></div>
                    </div>
                  </div>

                  <div class="form-group"> 
                    <label class="control-label col-lg-12">Schedule Breaks</label>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-6">
                      <h5 id="display-break"></h5>
                      <div class="slider slider-break-length"></div>
                    </div>
                    <div class="col-lg-6">
                      <h5 id="display-frequency"></h5>
                      <div class="slider slider-break-frequency"></div>
                    </div>
                  </div>

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" class="pomodoro-technique">Use Pomodoro Technique with Preset Breaks
                    </label>
                    <a href="http://en.wikipedia.org/wiki/Pomodoro_Technique" title="Link to Wikipedia article" rel="help" target="_blank">(?)</a>
                  </div>

                </fieldset>
              </form>
            </div> <!-- /end .modal-body -->
    
            <div class="modal-footer">
              <button type="button" href="#" id="tibx-save-edit-timebox" class="btn btn-success"></button>
            </div> <!-- /end .modal-footer -->
          </div> <!-- /end .modal-content -->
        </div> <!-- /end .modal-dialog -->
      </div> <!-- /end .modal .fade -->

      <!-- About modal -->

      <div class="modal fade" id="aboutModal" aria-labelledby="About" aria-describedby="Find out about an app here." aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">About</h4>
            </div>
            <div class="modal-body">
              <h4>What is TimeBx?</h4>
              <p>
                TimeBx is an app for personal time management. It utilizes timeboxing project 
                management technique.
              </p>
              <p>
                Work expands so as to fill the time available for its completion. TimeBx helps 
                you cope with this fact by coupling these two constrains: time and task scope. 
              </p>
              <p>
                Working on smaller things for shorter periods of time will boosts your 
                creativity and focus. And on top of that, crossing out more items off you to-do 
                list keeps you motivated to make more done.
              </p>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- Credits modal -->
      <div class="modal fade" id="creditsModal" aria-labelledby="Credits" aria-describedby="Find out which frameworks or libraries were used in this project." aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Credits</h4>
            </div>
            <div class="modal-body">
              <p>        
                Tools, frameworks and libraries used in this project:
                <ul>
                  <li>Bootstrap 3.0</li>
                  <li>JQuery 2.0.3</li>
                  <li>JQuery UI 1.10.3 Slider</li>
                  <li>Modernizr v2.6.2</li>
                  <li>Google Caja (for user input sanitation)</li>
                  <li>GruntJS</li>
                  <li>Jekyll</li>
                </ul>
              </p>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </div> <!-- /end .container -->
  </div> <!-- /end .main-content -->
  <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <p class="authorship">built by <a href="http://tyshkev.me">Vlad Tyshkevich</a></p>
        <ul class="tibx-footer-links">
          <li><a data-toggle="modal" href="#aboutModal" title="About">About</a></li>
          <li><a data-toggle="modal" href="#creditsModal" title="Credits">Credits</a></li>
          <li><a href="mailto:vlad@tyshkev.me?subject=TimeBx Bug Report" title="Send Email">Report a Bug</a></li>
        </ul>
    </nav> <!-- /end .navbar-default .navbar-fixed-bottom -->
  </footer>
  <script type="text/javascript" language="javascript" charset="utf-8" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.0.3.min.js"><\/script>')</script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="js/vendor/bootstrap.min.js"></script>
  <!-- build:js js/vendor/jquery-ui-1.10.3.slider.min.js -->
  <script type="text/javascript" language="javascript" charset="utf-8" src="js/vendor/jquery-ui-1.10.3.slider.js"></script>
  <!-- endbuild -->
  <script type="text/javascript" language="javascript" charset="utf-8" src="js/vendor/modernizr-custom-v2.7.0.min.js"></script> 
  <!-- build:js js/main.min.js -->
  <script type="text/javascript" language="javascript" charset="utf-8" src="js/view.js"></script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="js/storage.js"></script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="js/sanitizer.js"></script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="js/audio.js"></script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="js/timer.js"></script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="js/application.js"></script>
  <!-- endbuild -->
  <!-- build:js js/vendor/ga.min.js -->
  <script type="text/javascript" language="javascript" charset="utf-8"
    src="js/vendor/ga.js"></script> 
  <!-- endbuild -->
</body>
</html>
